.joke {
  width: 50%;
  height: 30%;
  margin: auto;
  margin-top: 20vh;
  text-align: center;
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
}

.help {
  width: 30vw;
  height: 20vh;
  margin: auto;
  background-color: rgb(28, 44, 69);
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
  margin-top: 10vh;
  text-align: center;
}
.help p {
  color: white;
}
