.happy-img-countainer {
  display: grid;
  grid-template-columns: repeat(3, 33%);
  grid-gap: 20px;
  margin-top: 2%;
}

.Dance-section {
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
}
.happy-img-countainer div {
  width: 85%;
  margin-left: 5%;
}
.happy-img-countainer img {
  max-width: 99%;
  height: fit-content;
}
.SpreadLove-section {
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
}
.happy-title {
  text-align: center;
  font-size: 1.2em;
  background-color: rgb(28, 44, 69);
  color: #fff;
  border-radius: 5px;
  width: 70%;
  margin: auto;
  padding: 10px;
  margin-top: 3%;
  animation: animate2 1s infinite;
}

@keyframes animate2 {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
.modal-container-SpreadLove {
  position: fixed;
  top: 50%;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  justify-content: center;
  align-items: center;
}

.modal-content-SpreadLove {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

button {
  margin-top: 10px;
}
@media screen and (max-width: 600px) {
  .modal-container-SpreadLov {
    position: relative;
    z-index: 1;
    left: 0%;
    top: 10%;
    width: 100%;
    height: 100%;
  }

  .modal-content-SpreadLove {
    padding: 10px;
  }

  .happy-img-countainer {
    display: flex;
    flex-direction: column;
    margin-left: 5%;
  }

  .happy-title {
    font-size: 1em;
    width: 80%;
    margin-top: 5%;
  }
}
