#main {
  background-image: url("https://i.pinimg.com/564x/57/d2/3f/57d23f6586317793bfe01f7b8f8e6b47.jpg");
  width: 87.4vw;
  height: 90vh;
  background-repeat: no-repeat;
  background-position: top 10% left 0%;
  background-size: cover;
  padding: 80px 80px;
}
