#main {
  background-image: url("https://img.freepik.com/premium-vector/concept-step-into-unknown-future-head-man-clouds_10083-1099.jpg?w=740");
  width: 40%;
  background-repeat: no-repeat;
  background-size: contain;
  padding: 80px 80px;
}
#hero {
  background-color: #cccccc;
  height: 89.8vh;
  width: 60%;
  margin-left: -10vw;
  position: relative;
}
.span-1 {
  font-size: 35px;
  margin-left: 25vw;
  margin-top: 20vh;
  position: absolute;
  color: rgb(255, 242, 226);
  text-align: center;
}
.span-2 {
  font-size: 50px;
  margin-left: 20vw;
  position: absolute;
  margin-top: 26vh;
  color: rgb(228, 94, 5);
}
.span-3 {
  font-size: 50px;
  margin-left: 35vw;
  position: absolute;
  margin-top: 26vh;
  color: rgb(28, 44, 69);
}
.span-4 {
  font-size: 35px;
  margin-left: 26vw;
  margin-top: 35vh;
  position: absolute;
  color: rgb(255, 242, 226);
  text-align: center;
}
.hero-title {
}
.get-started-btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: rgb(255, 242, 226);
  color: rgb(28, 44, 69);
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 5px;
  box-shadow: 0 5px 0 rgb(255, 242, 226);
  transition: all 0.2s ease-in-out;
  margin-top: 60vh;
  margin-left: 25vw;
}

.get-started-btn:hover {
  background-color: rgb(228, 94, 5);
  box-shadow: 0 2px 0 rgb(228, 94, 5);
  transform: translateY(3px);
  color: rgb(255, 242, 226);
}
