#main {
  background-image: url("https://img.freepik.com/premium-vector/flat-world-mental-health-day-illustration_23-2149632633.jpg?w=740");
  width: 87.4vw;
  height: 70vh;
  background-repeat: no-repeat;
  background-position: top 10% left 50%;
  background-size: contain;
  padding: 80px 80px;
}
