.YogaSection {
  border: 1px solid black;
  width: 30vw;
  height: 60vh;
}
.BookSection {
  border: 1px solid black;
  width: 30vw;
  height: 60vh;
}

.Therapist-Section {
  border: 1px solid black;
  width: 30vw;
  height: 60vh;
}
