.stress-tittle {
  text-align: center;
  font-size: 1.2em;
  background-color: rgb(28, 44, 69);
  color: #fff;
  border-radius: 5px;
  width: 60%;
  margin: auto;
  padding: 10px;
  margin-top: 1%;
}

.YogaSection {
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
}
.BookSection {
  display: block;
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
}
.BookSection h2 {
  font-size: 20px;
  margin-top: 5%;
  text-transform: uppercase;
  color: rgb(228, 94, 5);
  text-align: center;
}
.BookSection img {
  margin-top: 6%;
}

.Therapist-Section {
  display: none;
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
}
.Therapist-Section.show {
  display: block;
}
.Therapist-Section h2,
.calmMusic-section h2,
.cooking-Section h2 {
  font-size: 20px;
  margin-top: 10%;
  text-transform: uppercase;
  color: rgb(228, 94, 5);
  text-align: center;
}
.Therapist-Section img {
  margin-top: 5%;
}
.calmMusic-section {
  display: none;
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
}
.calmMusic-section.show {
  display: block;
}
.SelfCare-section {
  display: none;
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
}
.SelfCare-section.show {
  display: block;
}
.cooking-Section {
  display: none;
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
}
.cooking-Section.show {
  display: block;
}
.img-countainer {
  display: grid;
  grid-template-columns: repeat(3, 33%);
  grid-gap: 20px;
  margin-top: 3%;
}
.img-countainer div {
  width: 85%;
  margin-left: 5%;
}

.img-countainer img {
  max-width: 99%;
  height: fit-content;
}
.YogaSection h2 {
  font-size: 18px;
  margin-top: 1%;
  text-transform: uppercase;
  color: rgb(228, 94, 5);
  text-align: center;
}
.YogaSection p {
  text-align: center;
}
.click {
  font-size: 1.2em;
  text-align: center;
  margin-top: 20px;
  padding: 10px;
  background-color: rgb(228, 94, 5);
  color: #fff;
  border-radius: 5px;
  animation: pulse 1s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
iframe {
  margin-top: -120%;
}
@media (max-width: 600px) {
  .img-countainer {
    display: flex;
    flex-direction: column;
  }

  /* Adjust the width and margin of the image container */
  .img-countainer div {
    width: 90%;
    margin-left: 5%;
  }
}
.video {
  display: none;
}
.video .show {
  display: block;
}
